:root {
  --primary-light: #dddfff;
  --primary: #4c38ff;
  --primary-dark: #00076b;
  --secondary-light: #d7ffbd;
  --secondary: #40af00;
  --secondary-dark: #165d00;
  --tertiary-light: #fff3cd;
  --tertiary: #e49400;
  --tertiary-dark: #b18200;
}